* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  background: #d5d8dc;
  /*Flex*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
