* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  width: 100vw;
  padding: 0 50px 50px 50px;
  background: #aaaaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.top-bar {
  width: 100vw;
  padding: 20px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo i {
  font-size: 30px;
}
.toggle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.resume {
  background: white;
}
