.InfoSection {
  display: flex;
  gap: 5px;
}

.InfoSection > * {
  display: flex;
  flex-direction: column;
}

.resume-info-icons {
  width: 10%;
  font-size: 2.5vw;
  gap: 7px;
}

.resume-info-div {
  width: 90%;
}

.resume-info-div > * {
  font-size: 2vw;
}
