.LeftSection {
  padding: 10px;
  /*Flex*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.LeftSection > * {
  background: coral;
}

/*Info Section*/
.InfoSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.InfoSection > * {
  width: 100%;
  display: flex;
  gap: 5px;
}
.InfoSection input,
.InfoSection p {
  background: lightseagreen;
  width: 90%;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.InfoSection p {
  word-break: break-word;
}
.icon {
  background: chartreuse;
  width: 10%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
