.ProfileSection {
  /*Grid*/
  grid-column: 1/3;
  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ProfileSection input {
  width: 50%;
}
#name {
  font-size: 30px;
}
#position {
  font-size: 20px;
}
/*.profileSection {
  padding: 2vw;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.profileSection #name {
  font-size: 3vw;
}

.profileSection #position {
  font-size: 2vw;
}*/
