.ProfileSection {
  padding: 10px;
  /*Grid*/
  grid-column: 1/3;
  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ProfileSection input {
  width: 100%;
  font-size: 12px;
  padding: 3px;
  border: 2px solid lightgray;
  outline: none;
  border-radius: 3px;
  text-align: center;
}

#name {
  font-size: 30px;
  font-weight: bold;
}

#position {
  font-size: 20px;
}
