.RightSection {
  background: lightgreen;
  padding: 10px;
  /*Flex*/
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Experience Section*/
.ExperienceSection,
.EducationSection {
  background: lightpink;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Experience-title,
.Education-title {
  padding-bottom: 3px;
  border-bottom: 2px solid lightgray;
}

.Experience-title h5,
.Education-title h5 {
  font-size: 14px;
  font-weight: bold;
}

.Experience-CurrentExperience,
.Education-CurrentEducation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Experience-CurrentExperience > *,
.Education-CurrentEducation > * {
  padding: 5px 0px;
  background: lightseagreen;
  border: 2px solid lightgray;
  position: relative;
  /*padding: 5px;
  background: lightgrey;
  border-radius: 3px;
  font-size: 12px;*/
  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.Experience-CurrentExperience > * p,
.Education-CurrentEducation > * p {
  font-size: 12px;
}

.Experience-delete,
.Education-delete {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
  transition: all 0.4s;
  position: absolute;
  top: 5px;
  right: 0px;
}

.Experience-delete:hover,
.Education-delete:hover {
  color: black;
}

.Experience-delete::before,
.Education-delete::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  font-size: 12px;
}

/*.Skills-input,
.Languages-input {
  width: 100%;
  display: flex;
  gap: 5px;
}

.Skills-input input,
.Languages-input input {
  width: 90%;
  font-size: 12px;
  padding: 3px;
  border: 2px solid lightgray;
  outline: none;
  border-radius: 3px;
}

.Skills-input button,
.Languages-input button {
  width: 10%;
  font-size: 12px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: gray;
  transition: all 0.4s;
}

.Skills-input button:hover,
.Languages-input button:hover {
  color: black;
}*/
