.RightSection {
  padding: 10px;
  /*Flex*/
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Experience Section*/
.ExperienceSection,
.EducationSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Experience-title,
.Education-title {
  padding-bottom: 3px;
  border-bottom: 2px solid lightgray;
}

.Experience-title h5,
.Education-title h5 {
  font-size: 14px;
  font-weight: bold;
}

.Experience-CurrentExperience,
.Education-CurrentEducation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Experience-CurrentExperience > *,
.Education-CurrentEducation > * {
  padding: 5px 0px;
  border: 2px solid lightgray;
  position: relative;
  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.Experience-CurrentExperience-title,
.Education-CurrentEducation-degree {
  font-size: 14px;
  font-weight: bold;
  word-break: break-word;
}

.Experience-CurrentExperience-period,
.Education-CurrentEducation-period {
  color: gray;
}

.Experience-CurrentExperience-period,
.Experience-CurrentExperience-company,
.Experience-CurrentExperience-location,
.Experience-CurrentExperience-description,
.Education-CurrentEducation-period,
.Education-CurrentEducation-institution,
.Education-CurrentEducation-location {
  font-size: 12px;
  word-break: break-word;
}

.Experience-delete,
.Education-delete {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
  transition: all 0.4s;
  position: absolute;
  top: 5px;
  right: 0px;
}

.Experience-delete:hover,
.Education-delete:hover {
  color: black;
}

.Experience-delete::before,
.Education-delete::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  font-size: 12px;
}

.Experience-input,
.Education-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Experience-input input,
.Education-input input {
  font-size: 12px;
  padding: 3px;
  border: 2px solid lightgray;
  outline: none;
  border-radius: 3px;
}

.Experience-input button,
.Education-input button {
  font-size: 12px;
  padding: 3px;
  background: white;
  border: 2px solid lightgray;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: gray;
  transition: all 0.4s;
}

.Experience-input button:hover,
.Education-input button:hover {
  color: black;
  background: lightgrey;
}
