.TopBar {
  background: #1c2833;
  padding: 10px;
  color: #ffffff;
  /*Flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Toggle slider*/
.TopBar-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.TopBar-toggle p {
  font-size: 14px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}

.toggle-slider {
  background: lightgray;
  border-radius: 2em;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s;
}

.toggle-slider:before {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  transition: all 0.4s;
}

input:checked + .toggle-slider {
  background: #1fb622;
}

input:checked + .toggle-slider:before {
  left: 22.5px;
}
